{% extends "template.html" %}

{% block content %}
  <div id="form">
    <form action="/moderate" method="post">
      <input type="hidden" name="qid" value="{{qid}}"/>
      <label>Изберете филм:<br />
      <select name="mid">
        <option value="0">Нов</option>
      {% for movie in movies %}
        <option value="{{movie.key}}">{{ movie.title|escape }}</option>
      {% endfor %}
      </select>
      </label><br />
      <label>или добавете нов:<br />
      <input name="movie" type="text" value="{{quote.movie.title|escape}}"/>
      </label><br />
      <label>Цитат:
      <textarea name="quote">{{quote.quote|escape}}</textarea></label><br />
      <button type="submit">Запазване</button>
    </form>
  </div>
{% endblock %}
