<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Цитати от любими български филми" />
  <meta name="keywords" content="филми, цитати, реплики, забава" />
  <meta name="verify-v1" content="sP9tJsQ9ikZjjflQo9d1pM+0GIYVtAW1bKzbA7mFS78=" />
  <title>{% block title %}Цитати от български филми{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="icon" href="favicon.ico" />
</head>
<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-115818-22', 'auto');
    ga('send', 'pageview');
  </script>
  <div id="container">
    <div id="content">
      <div id="logo">
        <h1><a href="/">Цитати</a></h1>
        <p>от български филми<p>
      </div>
      <div id="addd">
         {% if admin %}
            <a href="/admin">Администрация</a>
         {% endif %}
         <a href="{{ url }}">{{ url_linktext|escape}}</a>
         <a href="/add">Добавяне</a></div>
      <div id="words">
        {% block content %}{% endblock %}
      </div>
      <div id="sidebar">
        <div id="ads">
          <script type="text/javascript"><!--
          google_ad_client = "pub-5312778245695320";
          /* filmi 120x600, създаден 09-1-8 */
          google_ad_slot = "4694089830";
          google_ad_width = 120;
          google_ad_height = 600;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
