{% extends "template.html" %}

{% block content %}
          {% for quote in quotes %}
            <div><h3><a href="/movie?mid={{ quote.movie.key }}">{{ quote.movie.title|escape }}</a>{% if quote.movie.year %} ({{quote.movie.year|escape}}){% endif %}</h3></div>
            <blockquote>{{ quote.quote|escape|linebreaks }}</blockquote>
            <em>Добавен на: {{ quote.date|date:"d/m/Y H:i"|lower }}</em>
            <br />
          {% endfor %}
          {% if paged %}
            {% if has_prev %}
              <a href="?page={{ prev }}">&laquo;</a>
            {% endif %}
            {{ page }}
            {% if has_next %}
              <a href="?page={{ page }}">&raquo;</a>
            {% endif %}
          {% endif%}
{% endblock %}
