{% extends "template.html" %}

{% block content %}
      <div id="form">
        <form action="/moderate" method="post">
          <input type="hidden" name="qid" value="{{qid}}"/>
          <h2>Име на филм:</h2>
          <select name="mid">
            <option value="0">Нов</option>
          {% for movie in movies %}
            <option value="{{movie.key}}">{{ movie.title|escape }}</option>
          {% endfor %}
          </select>
          <div><input name="movie" type="text" value="{{quote.movie.title|escape}}"/></div>
          <h2>Цитат:</h2>
          <div><textarea name="quote" rows="6" cols="60">{{quote.quote|escape}}</textarea></div>
          <input type="submit" value="Запази"/>
        </form>
      </div>
{% endblock %}